## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()
unique_value_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = list(app_type_counts[app_type_counts < cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1000
classifications_to_replace = list(class_counts[class_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_application_df = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
y = dummy_application_df['IS_SUCCESSFUL']
X = dummy_application_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

X_train shape: (25724, 43)
X_test shape: (8575, 43)
y_train shape: (25724,)
y_test shape: (8575,)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 40)                3240

 dense_5 (Dense)             (None, 1)                 41

=================================================================
Total params: 6801 (26.57 KB)
Trainable params: 6801 (26.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Model weights file path
checkpoint_filepath = "model_checkpoint.h5"

# Create a ModelCheckpoint callback
model_checkpoint_callback = ModelCheckpoint(
    filepath=checkpoint_filepath,
    save_weights_only=True,
    save_best_only=False,
    period=5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [14]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [15]:
# Train the model
model_fit = nn.fit(X_train, y_train, epochs=100, verbose=1, callbacks=[model_checkpoint_callback])

Epoch 1/100
804/804 [==============================] - 1s 852us/step - loss: 127119.2578 - accuracy: 0.4985
Epoch 2/100
804/804 [==============================] - 1s 834us/step - loss: 15872.1074 - accuracy: 0.4817
Epoch 3/100
804/804 [==============================] - 1s 834us/step - loss: 72875.2031 - accuracy: 0.4885
Epoch 4/100
804/804 [==============================] - 1s 848us/step - loss: 25292.2285 - accuracy: 0.5101
Epoch 5/100
804/804 [==============================] - 1s 884us/step - loss: 11691.2881 - accuracy: 0.4979
Epoch 6/100
804/804 [==============================] - 1s 839us/step - loss: 28351.3125 - accuracy: 0.5046
Epoch 7/100
804/804 [==============================] - 1s 890us/step - loss: 14880.3965 - accuracy: 0.5077
Epoch 8/100
804/804 [==============================] - 1s 850us/step - loss: 7270.9355 - accuracy: 0.4948
Epoch 9/100
804/804 [==============================] - 1s 949us/step - loss: 16469.5176 - accuracy: 0.5233
Epoch 10/100
804/804 [==============================] - 1s 865us/step - loss: 6804.7617 - accuracy: 0.5077
Epoch 11/100
804/804 [==============================] - 1s 872us/step - loss: 3370.7986 - accuracy: 0.4981
Epoch 12/100
804/804 [==============================] - 1s 829us/step - loss: 5817.3154 - accuracy: 0.5243
Epoch 13/100
804/804 [==============================] - 1s 872us/step - loss: 590.9155 - accuracy: 0.5145
Epoch 14/100
804/804 [==============================] - 1s 897us/step - loss: 73.5920 - accuracy: 0.5114
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 52.6563 - accuracy: 0.5324
Epoch 16/100
804/804 [==============================] - 1s 870us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 17/100
804/804 [==============================] - 1s 850us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 20/100
804/804 [==============================] - 1s 926us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 21/100
804/804 [==============================] - 1s 894us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5324
Epoch 23/100
804/804 [==============================] - 1s 898us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 24/100
804/804 [==============================] - 1s 853us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 25/100
804/804 [==============================] - 1s 907us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 26/100
804/804 [==============================] - 1s 942us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 27/100
804/804 [==============================] - 1s 897us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 28/100
804/804 [==============================] - 1s 872us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 29/100
804/804 [==============================] - 1s 927us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 30/100
804/804 [==============================] - 1s 907us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 31/100
804/804 [==============================] - 1s 899us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 32/100
804/804 [==============================] - 1s 930us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 33/100
804/804 [==============================] - 1s 936us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 34/100
804/804 [==============================] - 1s 874us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 35/100
804/804 [==============================] - 1s 879us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 36/100
804/804 [==============================] - 1s 899us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 37/100
804/804 [==============================] - 1s 873us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 38/100
804/804 [==============================] - 1s 878us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 39/100
804/804 [==============================] - 1s 881us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 40/100
804/804 [==============================] - 1s 953us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 41/100
804/804 [==============================] - 1s 888us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 42/100
804/804 [==============================] - 1s 872us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 43/100
804/804 [==============================] - 1s 868us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 44/100
804/804 [==============================] - 1s 919us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 45/100
804/804 [==============================] - 1s 887us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 46/100
804/804 [==============================] - 1s 857us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 47/100
804/804 [==============================] - 1s 934us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 48/100
804/804 [==============================] - 1s 882us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 49/100
804/804 [==============================] - 1s 867us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 50/100
804/804 [==============================] - 1s 902us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 51/100
804/804 [==============================] - 1s 909us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 52/100
804/804 [==============================] - 1s 867us/step - loss: 0.6913 - accuracy: 0.5324
Epoch 53/100
804/804 [==============================] - 1s 872us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 54/100
804/804 [==============================] - 1s 935us/step - loss: 0.6913 - accuracy: 0.5324
Epoch 55/100
804/804 [==============================] - 1s 883us/step - loss: 0.6913 - accuracy: 0.5324
Epoch 56/100
804/804 [==============================] - 1s 887us/step - loss: 0.6913 - accuracy: 0.5324
Epoch 57/100
804/804 [==============================] - 1s 883us/step - loss: 0.6913 - accuracy: 0.5324
Epoch 58/100
804/804 [==============================] - 1s 895us/step - loss: 0.6913 - accuracy: 0.5324
Epoch 59/100
804/804 [==============================] - 1s 864us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 60/100
804/804 [==============================] - 1s 879us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 61/100
804/804 [==============================] - 1s 951us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 62/100
804/804 [==============================] - 1s 864us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 63/100
804/804 [==============================] - 1s 871us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 64/100
804/804 [==============================] - 1s 881us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 65/100
804/804 [==============================] - 1s 919us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 66/100
804/804 [==============================] - 1s 878us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 67/100
804/804 [==============================] - 1s 875us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 68/100
804/804 [==============================] - 1s 943us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 69/100
804/804 [==============================] - 1s 884us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 70/100
804/804 [==============================] - 1s 898us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 71/100
804/804 [==============================] - 1s 888us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 72/100
804/804 [==============================] - 1s 877us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 73/100
804/804 [==============================] - 1s 863us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 74/100
804/804 [==============================] - 1s 868us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 75/100
804/804 [==============================] - 1s 941us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 76/100
804/804 [==============================] - 1s 872us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 77/100
804/804 [==============================] - 1s 863us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 78/100
804/804 [==============================] - 1s 890us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 79/100
804/804 [==============================] - 1s 872us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 80/100
804/804 [==============================] - 1s 857us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 81/100
804/804 [==============================] - 1s 864us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 82/100
804/804 [==============================] - 1s 931us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 83/100
804/804 [==============================] - 1s 852us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 84/100
804/804 [==============================] - 1s 867us/step - loss: 0.6913 - accuracy: 0.5324
Epoch 85/100
804/804 [==============================] - 1s 900us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 86/100
804/804 [==============================] - 1s 865us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 87/100
804/804 [==============================] - 1s 861us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 88/100
804/804 [==============================] - 1s 931us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 89/100
804/804 [==============================] - 1s 894us/step - loss: 0.6913 - accuracy: 0.5324
Epoch 90/100
804/804 [==============================] - 1s 866us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 91/100
804/804 [==============================] - 1s 867us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 92/100
804/804 [==============================] - 1s 897us/step - loss: 0.6913 - accuracy: 0.5324
Epoch 93/100
804/804 [==============================] - 1s 857us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 94/100
804/804 [==============================] - 1s 862us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 95/100
804/804 [==============================] - 1s 907us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 96/100
804/804 [==============================] - 1s 899us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 97/100
804/804 [==============================] - 1s 888us/step - loss: 0.6911 - accuracy: 0.5324
Epoch 98/100
804/804 [==============================] - 1s 896us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 99/100
804/804 [==============================] - 1s 859us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 100/100
804/804 [==============================] - 1s 871us/step - loss: 0.6912 - accuracy: 0.5324

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7044 - accuracy: 0.5759 - 244ms/epoch - 910us/step
Loss: 0.7043522000312805, Accuracy: 0.5758600831031799

In [17]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

c:\ProgramData\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(